
doctype html
html
  head
    title #{title} //- This is a comment in Pug, it won't be rendered
  body
    h1 Book Add
    p Library Database Management System
    p TCSS 445 Summer 2024 | by Michael, Hamda, Simran