extends layout

block content
  h1= title
  form(method='POST' action='/books/add')
    div
      label(for='title') Title:
      input#title(type='text' name='title' required)
    
    div
      label(for='author') Author:
      select#author(name='author_id' required)
        if authors && authors.length
          each author in authors
            option(value=author.id)= author.name
        else
          option(value='') No authors available
    
    div
      label(for='description') Description:
      textarea#description(name='description')
    
    button(type='submit') Add Book