extends layout

block content
  h1= title
  form(action="/books/add" method="POST")
    div.form-group
      label(for="isbn") ISBN:
      input(type="text" id="isbn" name="isbn" placeholder="Enter ISBN" required)
    
    div.form-group
      label(for="title") Book Title:
      input(type="text" id="title" name="title" placeholder="Enter book title" required)
    
    div.form-group
      label(for="authorID") Author ID: 
      input(type="text" id="author" name="author" placeholder="Enter author ID (Author ID Must Exist Prior to Creating New ID)" required)

    div.form-group
      label(for="pubYear") Year Published:
      input(type="text" id="pubYear" name="pubYear" placeholder="Enter Year Published" required)

    div.form-group
      label(for="publisher") Publisher:
      input(type="text" id="publisher" name="publisher" placeholder="Enter publisher name" required)

    div.form-group
      label(for="genre") Genre:
      select(id="genre" name="genre" required)
        option(value="") Select Genre
        option(value="Adventure") Adventure
        option(value="Adventure Fiction") Adventure Fiction
        option(value="Autobiographical Fiction") Autobiographical Fiction
        option(value="Autobiography") Autobiography
        option(value="Biography") Biography
        option(value="Children's Fantasy") Children's Fantasy
        option(value="Comedy") Comedy
        option(value="Coming-of-age") Coming-of-age
        option(value="Computer Science") Computer Science
        option(value="Dark Fantasy") Dark Fantasy
        option(value="Dystopian") Dystopian
        option(value="Fantasy") Fantasy
        option(value="Gothic Parody") Gothic Parody
        option(value="Historical Fiction") Historical Fiction
        option(value="Horror") Horror
        option(value="Literary Fiction") Literary Fiction
        option(value="Memoir") Memoir
        option(value="Non-fiction") Non-fiction
        option(value="Personal Finance") Personal Finance
        option(value="Philosophical Fiction") Philosophical Fiction
        option(value="Political Satire") Political Satire
        option(value="Post-apocalyptic") Post-apocalyptic
        option(value="Psychological Thriller") Psychological Thriller
        option(value="Romance") Romance
        option(value="Science Fiction") Science Fiction
        option(value="Self-help") Self-help
        option(value="Southern Gothic") Southern Gothic
        option(value="Spiritual Fiction") Spiritual Fiction
        option(value="Thriller") Thriller
        option(value="Western") Western
        option(value="Young Adult") Young Adult
        option(value="Young Adult Dystopian") Young Adult Dystopian
        option(value="Young Adult Fantasy") Young Adult Fantasy
    
    div.form-group
      label(for="price") Price:
      input(type="number" id="price" name="price" min="0" step="0.01" placeholder="0.00" required)
    
    button(type="submit") Add Book