extends layout

block content
  h1 Add New Author
  if success 
    p.success-message Book added successfully!
  form(action="/authors/add" method="POST")

    div.form-group
      label(for="firstName") First Name:
      input(type="text" id="firstName" name="firstName" required)
    
    div.form-group
      label(for="lastName") Last Name:
      input(type="text" id="lastName" name="lastName" required)

    div.form-group
      label(for="authorID") Author ID:
      input(type="number" id="authorID" name="authorID" required min="10000" max="999999")
    
    div.form-group
      label(for="dateOfBirth") Birth Date:
      input(type="date" id="dateOfBirth" name="dateOfBirth")

    div.form-group 
      label(for="phoneNumber") Phone Number: 
      input(type="text" id="phoneNumber" name="phoneNumber")

    div.form-group 
      label(for="booksWritten") Books Written:
      input(type="booksWritten" id="booksWritten" name="booksWritten")

    button(type="submit") Add Author