extends layout

block content
  h1= title
  form(action="/books/searchAdvanced" method="GET")
    div.form-group
      label(for="title") Book Title:
      input(type="text" id="title" name="title" placeholder="Enter book title")

    div.form-group
      label(for="author") Author:
      input(type="text" id="author" name="author" placeholder="Enter author name")

    div.form-group
      label(for="genre") Genre:
      select(id="genre" name="genre")
        option(value="") All Genres
        option(value="Fiction") Fiction
        option(value="Non-Fiction") Non-Fiction
        option(value="Mystery") Mystery
        option(value="Science Fiction") Science Fiction
        option(value="Fantasy") Fantasy
        option(value="Biography") Biography
        // Add more genres as needed

    div.form-group
      label(for="minPrice") Minimum Price:
      input(type="number" id="minPrice" name="minPrice" min="0" step="0.01" placeholder="0.00")

    div.form-group
      label(for="maxPrice") Maximum Price:
      input(type="number" id="maxPrice" name="maxPrice" min="0" step="0.01" placeholder="100.00")

    button(type="submit") Search