extends layout

block content
  .container
    header
     
    section.overview
      style.
       h2 {
         text-align: center; 
         font-family: Arial;
        }
      h2 Overview
      p With our library management system, we plan to design an application that will ease users to access inventory at their local library. Users often do not want to spend the time to call or visit their local libraries to find materials, so with our application, we plan on creating an application that will allow them to locate materials from the comfort of their homes. We plan to implement an inventory of books and media at the local library.

    section.project-description
    style.
       p {
         text-align: center; 
         font-family: Arial;
         margin: 25px 150px 75px 150px;
        }

    section.description
      h2 Future Goals
      p 
        | In the future we would like to implement textbooks into Bibliopedia and have it compare prices with different websites.
        | This would be very beneficial to college students and those who continue higher education. Hosting our database in the cloud 
        | with services such as Google Cloud would allow us to deploy Biliopedia as a website.


    section.pages
      h2 Queries
      a.btn1(href='/books/add') Add Book
      a.btn2(href='/books/find') Find Book
      

    section.team
      h2 Team Members
      p 
        | Michael Mapanao | Hamda Jama | Simran Kaur Narwal
        
      section.tools
        h2 Technology Used
        p 
          img.tools(src="/images/node.png" alt="node")  
          img.tools(src="/images/pug.png" alt="pug" style='width:5%; height:5%; margin-left: 10px; margin-right: 10px;')  
          img.tools(src="/images/express.png" alt="express")  

