extends layout

block content
  h1= title
  form(action="/members" method="GET")
    div.form-group
      label(for="MEMBERID") Member ID:
      input(type="text" id="memberid" name="memberid" placeholder="Enter member ID ")

    div.form-group
      label(for="FNAME") First Name:
      input(type="text" id="fname" name="fname" placeholder="Enter first name")

    div.form-group
      label(for="FNAME") Last Name:
      input(type="text" id="lname" name="lname" placeholder="Enter last name")

    button(type="submit") Search