header {
  text-align: center;
  font-family: Arial;
}

.logo {
  width: 25%;
  height: 25%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.btn1 {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial;
  margin-left: 20%;
}

.btn2 {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial;
  margin-left: 1%;
}

.btn1:hover {
  border-left: 3px solid red;
}

.btn2:hover {
  border-left: 3px solid orange;
}
